<div class="method-container">
    <p class="title">Welcome to genese-api-angular demonstration module.</p>
    <p>With genese cli, you generated automatically your data-services and your datatypes with the command line </p>
    <p class="code">genese new api.</p>
    <p>Now, this app will show you how to use the data-services of genese-angular with your data-services.</p>
    <p>At first, don't forget to launch the NestJs backend : open another terminal, move on the directory /backend, and type</p>
    <p class="code">npm run start</p>
    <p>Open the console of your navigator : the results of the requests will be displayed inside.</p>
    <p>Now, you're ready to test the genese-angular methods ! Click on one button on the left.</p>
</div>
