<div class="method-container">
    <p class="title">put(path: string, body: any, options?: RequestOptions): Observable< T | any ></p>
    <p>The method of the generated data-service calls directly genese-angular put() method which is sending an object to backend. If the backend returns an object (which is usually a bad practice), it will be mapped with the type T.</p>
    <p>Open your navigator console, click on "Add book" button and send the form in the modal. In the tab "Network", you'll find the data received from the put() request.</p>


    <div class="dataList">
        <app-books-list [data]="data" (update)="openModal($event)"></app-books-list>
    </div>
</div>
