<div class="method-container">
    <p class="title">getAll(path: string, requestOptions?: RequestOptions): Observable< T[] ></p>
    <p>The method of the generated data-service calls directly genese-angular getAll() method which is getting an array of objects from backend and which maps it with the type T[] (in this example, T = Book)</p>
    <p>Open your navigator console. In the tab "Network", you'll find the data received from the getAll() request. In the tab "Console", you'll can compare these original data with the formatted objects sent as Observable by genese-angular. As you can see, genese-angular formatted the returned object with "Book" type.</p>
    <div class="dataList">
        <app-books-list [data]="data"></app-books-list>
    </div>
</div>
