<div class="method-container">
    <p class="title">delete(path: string, options: RequestOptions = "{{ '{}' }}): Observable< T | ResponseStatus ></p>
    <p>The method of the generated data-service calls directly genese-angular delete() method which is removing an object in the backend. If the backend returns an object (which is usually a bad practice), it will be mapped with the type T (in this example, T = BookPostResponse)</p>
    <p>Open your navigator console, click on one "trash" button in the array of data. In the tab "Network", you'll find the data received from the delete() request. In the tab "Console", you'll can compare these original data with the formatted object sent as Observable by genese-angular. As you can see, genese-angular formatted the returned object with "BookDeleteResponse" type.</p>

    <div class="dataList">
        <app-books-list [data]="data" (delete)="delete($event)" [actionButtons]="['delete']"></app-books-list>
    </div>
</div>
